 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {

}

.u-section-1 .u-image-1 {
  width: 786px;
  height: 99px;
  object-position: 50% 50%;
  margin: 0 auto;
}

.u-section-1 .u-image-2 {
  width: 570px;
  height: 570px;
  background-image: url("images/Screenshot2021-11-17at04.08.09.png");
  background-position: 50% 50%;
  margin: 7px auto 60px;
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1320px;
  }

  .u-section-1 .u-image-1 {
    width: 720px;
    height: 91px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1267px;
  }

  .u-section-1 .u-image-1 {
    width: 540px;
    height: 68px;
  }

  .u-section-1 .u-image-2 {
    width: 540px;
    height: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1042px;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 43px;
  }

  .u-section-1 .u-image-2 {
    width: 340px;
    height: 340px;
  }
}